<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body>
    <%- include('./partials/nav') %>
    
    <div class="about content">
        <h2>About Me</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus itaque pariatur dolores praesentium cumque.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus itaque pariatur dolores praesentium cumque.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus itaque pariatur dolores praesentium cumque.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>